.festival-card-simple {
  cursor: pointer;
  text-align: left;       /* Align text to left */
  transition: transform 0.3s ease;
  width: 280px;
  flex: 0 0 auto;
}

.festival-card-simple:hover {
  transform: translateY(-4px);
}

.festival-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-height: 200px;
  margin: 0; /* Reduced gap between image and info */
}

.festival-card-date {
  font-size: 0.7rem;
  color: #5ce42a;
  margin: 0 0 2px 0; /* Reduced bottom margin */
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;

}

.festival-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000203;
  margin: 0 0 8px 0; /* Reduced bottom margin */
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

/* Fade In Animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: none;
}

/* Responsive */
@media (max-width: 768px) {
  .festival-image {
    max-height: 160px;
  }
}
